<!DOCTYPE html>

<html>
  <head>
    <title>Just Ping me!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>

  </head>
  <body class="container" >
    <section id="thanksfull" >
      <div id="thanksfull_page">
	<div class="wrap">
	  <div class="text">
	    Thanks for showing interest in X. <br>
	    The service will begin operating in October 2013.<br>
	    We'll contact you then and offer you 3 months free.
	  </div>
	</div>
      </div>
      <div id="footer"></div>
    </section>
  </body>
</html>
